<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Users List</h3>
            <a class="btn btn-success btn-right" *ngIf="can_view_users" [routerLink]="'/users/add'">Add New User</a>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Email</th>
                <th>Created_at</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor=" let i = index; let user of users.data ">
                <td>{{ i+1 }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.created_at }}</td>
                <td><a [routerLink]="['details', user.id]"><i class="fas fa-edit"></i></a></td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
  </section>
</div>
