<header>

  <h1>Welcome</h1>

</header>

<main>

  <div class="wrap">

    <div class="sidebar">

      <ul>
        <li><a [routerLink]="'/my-page'">My-page</a></li>
        <li><a [routerLink]="'/dashboard'">Dashboard</a></li>
        <li><a [routerLink]="'/users'">Users</a></li>
        <li><a [routerLink]="'/login'">LogOut</a></li>
      </ul>

    </div>

    <div class="content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta consequatur eum unde? Dolore, similique quam minus explicabo itaque nesciunt iste ipsa. Reiciendis quidem odio qui unde exercitationem ex aut corrupti.
    </div>

  </div>

</main>

<footer>



</footer>
