<nav class="main-header navbar navbar-expand navbar-black navbar-light">
  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown user-menu">
      <a [routerLink]="" class="nav-link dropdown-toggle" data-toggle="dropdown" (click)="openUserPanel = !openUserPanel">
        <img src="assets/img/user2-160x160.jpg" class="user-image img-circle elevation-2" alt="User Image">
        <span class="d-none d-md-inline">Volodymyr Terekh</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right" [hidden]="!openUserPanel">
        <!-- User image -->
        <li class="user-header bg-primary">
          <img src="assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">

          <p>
            Volodymyr Terekh - PHP Developer
            <small>Member since Nov. 2012</small>
          </p>
        </li>
        <!--&lt;!&ndash; Menu Body &ndash;&gt;
        <li class="user-body">
          <div class="row">
            <div class="col-4 text-center">
              <a href="#">Followers</a>
            </div>
            <div class="col-4 text-center">
              <a href="#">Sales</a>
            </div>
            <div class="col-4 text-center">
              <a href="#">Friends</a>
            </div>
          </div>
          &lt;!&ndash; /.row &ndash;&gt;
        </li>
        &lt;!&ndash; Menu Footer&ndash;&gt;-->
        <li class="user-footer">
          <!--<a href="#" class="btn btn-default btn-flat">Profile</a>-->
          <a [routerLink]="'/login'" class="btn btn-default btn-flat float-right">Sign out</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
